{% extends "base.html" %}
{% block body %}
    {{ block.super }}

    <section class="page-section">
        <div class="container relative">
            <div class="row">
                <!-- Content -->
                <div class="col-sm-8 col-md-offset-1">
                    <!-- Post -->
                    <div class="blog-item mb-80 mb-xs-40">
                        <h1>Entrepreneur Questions</h1>
                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How do I apply to have my company listed on GrowthFountain?</h3>
                            <p class="FAQanswer">The process of listing on GrowthFountain begins when you register as an
                                Entrepreneur on the GrowthFountain website. The registration process includes a series
                                of questions that intended to help you in defining your company and its particular
                                needs.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">Can non-U.S. businesses list on GrowthFountain?</h3>
                            <p class="FAQanswer">No. At this time, the GrowthFountain website is available only to
                                companies based in the United States or any territory thereof.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How much does GrowthFountain cost?</h3>
                            <p class="FAQanswer">For companies that successfully raise money on GrowthFountain, we
                                charge 5% of the money raised. If you don't reach your goal, you will not owe us any
                                money. There are some minimal upfront costs that we'll pass along to issuers prior to
                                listing - including the cost of running background checks on officers, directors and
                                20%+ voting shareholders and the third party escrow agent fee. And we'll pass along a
                                $10 payment processing fee to investors.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">Is my business information confidential?</h3>
                            <p class="FAQanswer">GrowthFountain offers companies the ability to grant or deny access to
                                any investor wishing to view specific information about the company’s business and
                                offering. However, you should consider some level of disclosure about your business plan
                                to be a necessary component of raising funds.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">Can GrowthFountain help with legal docs for my upcoming
                                transaction?</h3>
                            <p class="FAQanswer">As a way of assisting both our listing companies and our investors,
                                GrowthFountain makes template documents available for use in connection with financings.
                                GrowthFountain, however, is not a legal advisor and does not purport to provide legal
                                advice. We recommend in all cases that people discuss the offerings and investments with
                                their own legal counsel.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">Do I need to negotiate separately with each investor?</h3>
                            <p class="FAQanswer">No. All offering terms will be determined in advance and all investors
                                will receive the same terms.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How much ownership will I have to give to an investor?</h3>
                            <p class="FAQanswer">The specific terms of each offering are ultimately decided between the
                                entrepreneurs and the investors.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How long will a fundraising take?</h3>
                            <p class="FAQanswer">The length of time required to complete a fundraise will vary from case
                                to case. The amount of time required will depend on several factors, such the amount
                                sought, the terms of the offering, the speed with which the company responds to
                                information requests, and the degree to which the company may be otherwise represented
                                in social media. All offerings must remain open for a minimum of 21 days. You should
                                anticipate a minimum of 2-3 months for the completion of the offering and offerings may
                                end up remaining open for significantly longer.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How do I communicate with investors after the fundraising?</h3>
                            <p class="FAQanswer">Companies that issue securities through GrowthFountain will be required
                                to obtain a registered transfer agent. Not to worry, we’ll guide you through the process
                                and ensure an easy and natural workflow – and this transfer agent will enable you to
                                easily manage investors, including sending emails, updating information, uploading
                                supporting documents, making payments and integrating with secondary market platforms.
                            </p>
                        </div>
                    </div>
                    <!-- End Post -->
                </div>
                <!-- End Content -->
                <!-- Sidebar -->
                <div class="col-sm-4 col-md-3 sidebar visible-lg">
                    <!-- Widget -->
                    <div class="widget">
                        <h5 class="widget-title font-alt">FAQ</h5>
                        <div class="widget-body">
                            <ul class="clearlist widget-menu">
                                <li>
                                    <a href="/faq/general" title="">General Questions</a>
                                </li>
                                <li>
                                    <a href="/faq/entrepreneur" title="">Entrepreneur Questions</a>
                                </li>
                                <li>
                                    <a href="/faq/investor" title="">Investor Questions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Widget -->
                </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </section>

{% endblock %}