{% extends 'base.html' %}

{% block body %}
    {{ block.super }}
    <section class="page-section">
        <div class="container relative">
            <div class="row">
                <!-- Content -->
                <div class="col-sm-8 col-md-offset-1">
                    <!-- Post -->
                    <div class="blog-item mb-80 mb-xs-40">
                        <h1>Investor Questions</h1>
                        <div class="FAQ-box">
                            <h3 class="FAQquestion">What is the GrowthFountain Advisor Network?</h3>
                            <p class="FAQanswer">The GrowthFountain Advisor Network (tm) is a proprietary network of
                                individuals who are available to serve as advisors for the businesses that list on
                                GrowthFountain. </p>
                            <p></p>
                        </div>


                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How do I become an investor?</h3>
                            <p class="FAQanswer">Anyone who is at least 18 years old is allowed to invest in companies
                                listed on GrowthFountain. Simply click “Sign Up.” Each and every time you invest in a
                                company, we’ll collect certain information to make sure the amount your investing is in
                                compliance with the law, that you have read the education component on the website and
                                that you understand the risks involved with making crowdfunding investments. Happy
                                hunting!
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How do I know if I am an accredited investor?</h3>
                            <p class="FAQanswer">When you register with us as an investor you will be prompted to
                                complete an accreditation questionnaire. Your responses will determine whether or not
                                you meet the income and net worth thresholds to qualify as an accredited investor.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How can I see the available investment opportunities?</h3>
                            <p class="FAQanswer">When you log in to the GrowthFountain site you will be able to browse
                                the available projects. Also, as a registered user you will receive periodic
                                communications from us about new investment opportunities and updates on your prior
                                investments. You will be able to update your email preferences at any time.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">What will I actually own?</h3>
                            <p class="FAQanswer">The specific nature of each investment will vary. Investors will
                                typically receive preferred shares issued directly by the company. These shares
                                represent an ownership stake in the company. If the business is sold at some point,
                                these shares entitle the owner to a percentage of what is earned in the sale of the
                                business. In addition, if there is a dividend, you receive your share of the
                                distribution. However, there is no guarantee that an investor will earn any return on
                                their investment and investors may lose all of the money they invest.
                                In other cases, investors may receive common shares, or convertible debt in the company.
                                As always, it is important to read the specific offering documents related to each
                                investment opportunity. Please review the offerings documents carefully to understand
                                the investment. If you have questions or concerns, be sure to consult your advisors.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">What are the limits of crowdfund investing?</h3>
                            <p class="FAQanswer">The companies you find on GrowthFountain are privately held companies.
                                As an equity investor in a private company, you would receive a return on your
                                investment if and when the company distributes money. If a private company distributes
                                money, it typically does so in one of three ways: 1) It gets sold to another company or
                                a new set of investors such as a private equity firm; 2) It pays a dividend; or 3) It is
                                listed on a stock exchange such as the NYSE. The timeframe for these results, if they
                                occur, may very easily be several years and there is no way to predict if or when you
                                may receive a return. Private investments are risky and you should be aware that you may
                                lose all or part of your money.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">What are the risks of crowdfund investing?</h3>
                            <p class="FAQanswer">Many small businesses in the U.S. go out of business every year. It is
                                difficult to know how companies will grow, what changes might occur in the market, or
                                the many ways a company can stumble. If the company goes out of business, your shares
                                will be worth nothing. Companies seeking private placement investment tend to be in
                                earlier stages of development and have not yet been fully tested in the public
                                marketplace. Investing in private placements requires high risk-tolerance, low liquidity
                                concerns, and long-term commitments. Investors must be able to afford to lose their
                                entire investment.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How does the investment process work?</h3>
                            <p class="FAQanswer">Your investment is not final until the company receives its stated
                                minimum threshold for required commitments. All committed funds are processed and
                                securely kept with a third-party financial institution. The funds are held in escrow,
                                managed by an escrow agent, and kept completely separate. Once the commitment threshold
                                has been reached the funds will be transferred and you will become a securityholder in
                                the company. If the minimum threshold for commitments are not received, the funds will
                                be returned to you. GrowthFountain will never receive or hold any investor funds during
                                the process.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">Can I change my mind?</h3>
                            <p class="FAQanswer">After a commitment is made, you will have the opportunity to change
                                your mind until 48 hours prior to the date of the funding closing.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">Is there a minimum investment amount?</h3>
                            <p class="FAQanswer">Yes. The minimum investment may vary based on the specific offering. In
                                general, the minimum investment amount will be $1,000.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">What kind of updates will I get from the company?</h3>
                            <p class="FAQanswer">The company will have ongoing reporting requirements until:<br><br>
                                1) The company is required to file reports under Section 13(a) or Section 15(d) of the
                                Exchange Act <br>
                                2) The company has filed at least one annual report and has fewer than 300 holders of
                                record <br>
                                3) The company has filed at least three annual reports and has total assets less than
                                $10 million <br>
                                4) The company or another party has repurchased all the securities issued pursuant to
                                Regulation Crowdfunding <br>
                                5) The company liquidates or dissolves in accordance with state law. <br>
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">How do I help or otherwise get access to the company after a fund
                                closing?</h3>
                            <p class="FAQanswer">Your access to the company you invested in, and information rights,
                                will be based on the individual offering documents. If you believe that you have a
                                unique set of skills that would be valuable to the company or other companies on
                                GrowthFountain we encourage you to apply to become a member of our GrowthFountain
                                Advisor Network.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">Can I invest through my LLC, C-Corp, or LP?</h3>
                            <p class="FAQanswer">Yes. In those cases we complete the process offline and need some
                                additional information from you. You would need to supply the following information in
                                order for us to complete the investment: 1) A copy of the articles of incorporation or
                                organization of the entity that will be investing; and 2) Signed investment documents
                                signed on behalf of the entity rather than you personally.
                                If you would like to invest in a company on GrowthFountain through your entity, please
                                email us at help@growthfountain.com.
                            </p>
                        </div>

                        <div class="FAQ-box">
                            <h3 class="FAQquestion">Can I invest in a company on GrowthFountain if I am located outside
                                the United States? </h3>
                            <p class="FAQanswer">Yes. In that case we complete the process offline and need some
                                additional information from you. Please supply us with the following information: 1) A
                                copy of your photo ID or passport. 2) A copy of the signed investment documents. 3) A
                                completed W8 form, which we will supply to you.
                                If you would like to invest in a company on GrowthFountain and you're located outside
                                the United States, please email us at help@growthfountain.com.

                            </p>
                        </div>
                    </div>
                    <!-- End Post -->
                </div>
                <!-- End Content -->
                <!-- Sidebar -->
                <div class="col-sm-4 col-md-3 sidebar visible-lg">
                    <!-- Widget -->
                    <div class="widget">
                        <h5 class="widget-title font-alt">FAQ</h5>
                        <div class="widget-body">
                            <ul class="clearlist widget-menu">
                                <li>
                                    <a href="/faq/general" title="">General Questions</a>
                                </li>
                                <li>
                                    <a href="/faq/entrepreneur" title="">Entrepreneur Questions</a>
                                </li>
                                <li>
                                    <a href="/faq/investor" title="">Investor Questions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Widget -->
                </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </section>
{% endblock %}