{% extends 'base.html' %}

{% block body %}
    {{ block.super }}
    <section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- Content -->
            <div class="col-sm-8 col-md-offset-1">
                <!-- Post -->
                <div class="blog-item mb-80 mb-xs-40">
                    <h1>General Questions</h1> <div class="FAQ-box">
					    <h3 class="FAQquestion">What is GrowthFountain?</h3>
					    <p class="FAQanswer">GrowthFountain is a platform designed to introduce businesses to all the connections they will need to succeed - including financial, human and social capital.</p>
					</div>

					<div class="FAQ-box">
					    <h3 class="FAQquestion">How do I get started?</h3>
					    <p class="FAQanswer">The first thing you need to do to get started is to register with us if you have not already done so.  The registration process is easy.  You simply need to choose whether you would prefer to register as an entrepreneur or as an investor.  You will then be asked for your name and email address and then prompted to answer a series of questions so that we can best assist you.  </p>
					</div>

					<div class="FAQ-box">
					    <h3 class="FAQquestion">What is crowdfunding?</h3>
					    <p class="FAQanswer">Crowdfunding is the process of raising funds by aggregating a large number of monetary contributions for a specific venture. Crowdfunding comes in a number of forms: donation, rewards, lending, and equity.</p>
					</div>

					<div class="FAQ-box">
					    <h3 class="FAQquestion">What is equity crowdfunding?</h3>
					    <p class="FAQanswer">Equity crowdfunding is where the individuals who provide the funding are given a percentage of equity ownership in the company that they are funding. While equity interests are bought and sold for large, SEC registered companies the availability of this form of fundraising (selling an ownership interest in the company) has been limited for smaller companies by the current securities laws and the costs of meeting the existing rules and regulations surrounding public equity offerings. Increasingly, however, on both an international and national level, the regulatory barriers to this form of fundraising are being removed. In the United States, the passage of the JOBS Act in 2012 was intended, among other things, to help spur the growth and development of equity crowdfunding as a way to finance small businesses.</p>
					</div>

					<div class="FAQ-box">
					    <h3 class="FAQquestion">What is the JOBS Act?</h3>
					    <p class="FAQanswer">These components included changes to Regulation A (a public offering exemption from the registration requirements), the allowance for public solicitation of private offerings to accredited investors, and the development of a new crowdfunding exemption to the public registration requirements of the securities laws.</p>
					</div>

					<div class="FAQ-box">
					    <h3 class="FAQquestion">What security measures does GrowthFountain take to ensure the privacy and safety of user information?</h3>
					    <p class="FAQanswer">We are dedicated to maintaining the security of our users’ information. Specific details about our policies can be found in our Terms of Use.</p>
					</div>

					<div class="FAQ-box">
					    <h3 class="FAQquestion">What if I have a question that I don't see here?</h3>
					    <p class="FAQanswer">If you have a question that you don't see an answer to on this page please feel free to email us at help@growthfountain.com or call us at (210) 816-0711.</p>
					</div> </div>
                <!-- End Post -->
            </div>
            <!-- End Content -->
            <!-- Sidebar -->
            <div class="col-sm-4 col-md-3 sidebar visible-lg">
                <!-- Widget -->
                <div class="widget">
                    <h5 class="widget-title font-alt">FAQ</h5>
                    <div class="widget-body">
                        <ul class="clearlist widget-menu">
                            <li>
                                <a href="/faq/general" title="">General Questions</a>
                            </li>
                            <li>
                                <a href="/faq/entrepreneur" title="">Entrepreneur Questions</a>
                            </li>
                            <li>
                                <a href="/faq/investor" title="">Investor Questions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Widget -->
            </div>
            <!-- End Sidebar -->
        </div>
    </div>
</section>
{% endblock %}